doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='./css/main.min.css')
  body
    header.header
      .container
        .menu
          .menu__logo Dreamshare
          .menu__items
            button.menu__link(type='button' href='#') Log in
            button.menu__link(type='button' href='#') Sign up
        .header__info
          p SHARE YOUR
          p HOLIDAY DREAM
          p And find the perfect partner to fullfill it
          button(type='button') Find your holiday partner
    main
      .container
        section.steps
          p How Dreamshare works?
          .steps__block
            .step__photo.first
              p STEP 1
              p Sed leo enim, condimentum
              p
                | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit
                | amet facilisis.
            .step__photo.second
              p STEP 2
              p Morbi velit risus
              p
                | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
            .step__photo.third
              p STEP 3
              p Sed leo enim, condimentum
              p
                | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit
                | amet facilisis.
        section.partners
          p Meet a partner for your best holiday
          .partners__block
            .partner
              img(src='./images/Avatar1.png' alt='')
              p Bradley Hunter
              p Based in Chicago. I love playing tennis and loud music.
            .partner
              img(src='./images/Avatar2.png' alt='')
              p Marie Bennett
              p Currently living in Colorado. Lover of art, languages and travelling.
            .partner
              img(src='./images/Avatar3.png' alt='')
              p Diana Wells
              p
                | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
            .partner
              img(src='./images/Avatar4.png' alt='')
              p Christopher Pierce
              p Star Wars fanatic. I have a persistent enthusiasm to create new things.
          button.button See other partners
        section.ideas
          p Discover holiday activity ideas
          .ideas__block
            .idea.first_idea
            .idea.second_idea
            .idea.third_idea
            .idea.fourth_idea
            .idea.fifth_idea
            .idea.sixth_idea
            .idea.seventh_idea
        section.interests
          p Create your holiday activity
          p Hi! What are your holiday interests?
          form(action='')
            input(type='text' placeholder='Enter your interests')
            button(type='button') Search partners
    footer.footer
      .container
        p DREAMSHARE
        .footer__company
          | Company
          .wrapper
            p About
            p Contact
            p Press
            p Blog
            p Terms and Privacy
            p Help
        .footer__partners Partners
        .footer__designed
          p DESIGNED BY
          img(src='./images/Designed.png' alt='')

